/* COLOR VARIABLES */
:root {
  --color-primary: lch(66.28% 36.18 73.63);
  --color-primary-dark: lch(58.57% 36.15 71.17);

  --color-secondary: lch(10.34% 11.81 269.16);

  --color-gray-light-1: lch(97.36% 0.86 54.93);
  --color-gray-light-2: lch(69.61% 0.01 296.81);

  --color-gray-dark-1: lch(31.41% 10.6 75.84);
  --color-gray-dark-2: lch(40.55% 13.21 74.77);

  /* FONT VARIABLES */
  --font-primary: 'Nunito', sans-serif;
  --font-display: 'Josefin Sans', sans-serif;
}
