.sidebar {
  grid-column: 1/-1;
  background-color: var(--color-primary);

  .btn-nav {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: white;
    width: 2.25rem;
    height: 2px;
    &::before,
    &::after {
      display: block;
      background-color: white;
      width: 2.25rem;
      height: 2px;
      content: '';
    }
    &::before {
      transform: translateY(-0.75rem);
    }
    &::after {
      transform: translateY(0.65rem);
    }
  }
  @media screen and (min-width: 40rem) {
    grid-row: 1/-1;
    grid-column: sidebar-start/sidebar-end;
  }
}
