---
import BaseHead from '@/components/BaseHead.astro';
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} />
  </head>
  <body class="container">
    <slot />
  </body>
</html>
